.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    /* border-bottom: 3px solid var(--accent-color); */
}

.listLink {
    display: flex;
    align-items: center;
    list-style: none;
}

.logo {
    margin-right: 50px;
}

.itemLink {
    padding: 10px 0;
    border: 2px solid var(--accent-color);
    margin-right: 20px;
}

.itemLink:hover {
    background-color: var(--accent-color);

}

.itemLink:hover .link {
    color: #fff;
}

.link {
    font-size: 16px;
    padding: 10px 20px;
    width: 110px;
    text-align: center;
    text-decoration: none;
    color: var(--accent-color);
}

.socialList {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    min-width: 400px;
}

.socialItem {
    margin: 10px;
    transition: 250ms ease-in-out;
}

.follow {
    display: none;
    margin-right: 10px;
}

.socialItem:hover {
    scale: 1.2;

}

.linkSocial {
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

.socialIcon {
    margin-right: 10px;
}

.socialItem:hover .follow {
    display: flex;

}

.btnLogin {
    font-size: 16px;

    background-color: #fff;
    border: 2px solid var(--accent-color);
    padding: 10px;
    color: var(--accent-color);
    cursor: pointer;
}

.btnLogin:hover {
    background-color: var(--accent-color);
    color: #fff;
}