@import-normalize;
/* bring in normalize.css styles */

:root {
  --first-color-dark: #072c51;
  --accent-color: #1976d2;
  --second-color: #114F8E;
  --some-white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 130%;
  z-index: -1;
} */